<ion-view title="About Us" id="page10">
    <ion-content padding="true" style="background: url(img/yGNWyHpLRb6xayuYhDA5_images) no-repeat center;background-size:cover;" class="has-header">
        <h1 id="aboutUs-heading2" style="color:#000000;text-align:center;">Our Mission</h1>
        <div id="aboutUs-markdown5" style="color:#000000;">
            <p>To maximize the community’s resources to improve the quality of life for all Delawareans.</p>
        </div>
        <h1 id="aboutUs-heading3" style="color:#000000;text-align:center;">Our Story</h1>
        <div id="aboutUs-markdown6" style="color:#000000;">
            <p>Founded in 1946, United Way of Delaware (UWD) works to advance the common good by focusing on the three building blocks to a good life: Education, Income and Health. UWD is engaged in a long-term strategy to eliminate the root causes of Delaware's
                most pressing social problems in New Castle, Kent, and Sussex counties. UWD works collectively with business, government, social service agencies, academic groups, community organizations and concerned individuals to establish positive,
                long-lasting solutions for today and into the future.</p>
        </div>
        <div id="aboutUs-markdown7" style="color:#000000;text-align:center;">
            <p>By focusing on the building blocks of good life-Education, Income, Health-we help individuals and families realize their greatest human potential.</p>
        </div>
    </ion-content>
</ion-view>