<ion-view title="Home" id="page2">
    <ion-content padding="true" style="background: url(img/QmHnBMmCTdS3TtoP0ufF_images) no-repeat center;background-size:cover;" class="has-header">
        <h3 id="home-heading1" style="color:#F01832;font-weight:600;text-align:center;">Upcoming Events</h3>
        <ion-list id="home-list2">
            <ion-item class="item-thumbnail-left positive" id="home-list-item6">
                <img src="img/7AHEIngTUioeWkDAWUPb_AdvocateForACause-DetailPage-StoryImage-765x495.jpg">
                <h2positive>Anti-Bullying/Gay Straight Alliance
                    <p>Volunteer points: 20pts</p>
                    <p>Support your local LGBTQ community by promoting advancement of equality everywhere.</p>
                </h2positive>
            </ion-item>
            <ion-item class="item-thumbnail-left positive" id="home-list-item4">
                <img src="img/tUIAXscpTZC0jo1Jhtvq_paws_amd_people_jpeg_1024x1024.jpg">
                <h2positive>Paws and People
                    <p>Volunteer Points: 25pts</p>
                    <p>Spend time and relax by hanging with some puppies! You might even find one you want to take home.</p>
                </h2positive>
            </ion-item>
            <ion-item class="item-thumbnail-left positive" id="home-list-item7">
                <img src="img/kjKdIa4hRR6Lui0nZalG_images">
                <h2positive>High School Mentoring
                    <p>Volunteer Points: 50pts</p>
                    <p>Help provide foundations for our future generations. Teach local high school students and help prepare them for their futures.</p>
                </h2positive>
            </ion-item>
            <ion-item class="item-thumbnail-left positive" id="home-list-item8">
                <img src="img/WyDDiDybQQqVXD6ib9dz_images">
                <h2positive>Big Brothers Big Sisters
                    <p>Volunteer Points: 40pts</p>
                    <p>Help children realize their potential and build their futures. Nurture children and strengthen your community.</p>
                </h2positive>
            </ion-item>
        </ion-list>
        <div class="spacer" data-componentid="spacer2" style="width: 268px; height: 73px;"></div>
        
        <div class="footer">
            <img src="img/logo.png" style="width:60px;height:44px;">
        </div>
    </ion-content>
</ion-view>