<ion-view title="Page" hide-nav-bar="true" id="page2">
    <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
        <div>
            <img src="img/PsLLJExdQIKKGWppjmLQ_logo2.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 320px; height: 4px;"></div>
        <button id="page2-button1" class="button button-positive  button-block">Login</button>
        <div class="spacer" style="width: 320px; height: 0px;"></div>
        <button id="page2-button2" class="button button-positive  button-block">Create account</button>
        <button id="page2-button3" class="button button-positive  button-block">About Us</button>
        <div>
            <img src="img/sShDrKrbRzuuNlAkogQQ_buttons.png" width="100%" height="100%" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>