<ion-view title="Passions" id="page7">
    <ion-content padding="true" class="has-header">
        <form id="passions-form4" class="list">
            <ion-checkbox>Education</ion-checkbox>
            <ion-checkbox>Income</ion-checkbox>
            <ion-checkbox>Health</ion-checkbox>
            <ion-checkbox>Animals</ion-checkbox>
            <ion-checkbox>Disaster</ion-checkbox>
        </form>
        <a ui-sref="tabsController.home" id="passions-button5" class="button button-positive  button-block">Done!</a>
    </ion-content>
</ion-view>