<ion-view title="Profile" id="page8">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/SKOsZhiBRNG8pjBb7Stz_images" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="profile-container1">
            <form id="profile-form7" class="list">
                <label class="item item-input" id="profile-input7">
                    <span class="input-label">Points: 500</span>
                    <input type="text" placeholder="">
                </label>
            </form>
        </div>
        <div id="profile-markdown4" style="color:#000000;">
            <p>Bio: I grew up on a horse farm in Wyoming. I now go to the University of Delaware studying Pre-Veterinary medicine and Animal Biosciences</p>
        </div>
    </ion-content>
</ion-view>
