<ion-view title="Testimonials" id="page9">
    <ion-content padding="true" class="has-header">
        <ion-list id="testimonials-list6">
            <ion-item class="item-avatar" id="testimonials-list-item19">
                <img src="img/31VA3JWpRaGvrU1Pw8nA_images">
                <h2>I LOVE UNITED WAY</h2>
                <p>I can not thank the people of UWD</p>
            </ion-item>
            <ion-item class="item-avatar" id="testimonials-list-item15">
                <img src="img/azoMJjC3THiJxTz0SKoT_images">
                <h2>It's My Turn</h2>
                <p>My turn to give back to the organiz</p>
            </ion-item>
            <ion-item class="item-avatar" id="testimonials-list-item13">
                <img src="img/EBburDJQFCIszzGviFYz_images">
                <h2>Don't call it a comeback!</h2>
                <p>With the help of UWDE and all of th</p>
            </ion-item>
            <ion-item class="item-avatar" id="testimonials-list-item14">
                <img src="img/hRWb9CRjK14QPXJxrjQq_images">
                <h2>Life Changing</h2>
                <p>UWDE is doing amazing things!</p>
            </ion-item>
            <ion-item class="item-avatar" id="testimonials-list-item16">
                <img src="img/onqdbnFERZeTOxLAzuAd_images">
                <h2>Give Back</h2>
                <p>This is a great platform to give back</p>
            </ion-item>
            <ion-item class="item-avatar" id="testimonials-list-item17">
                <img src="img/354jHDrPSzSxPhEio0HT_images">
                <h2>Hoped for the best</h2>
                <p>And UWDE was there.</p>
            </ion-item>
            <ion-item class="item-avatar" id="testimonials-list-item18">
                <img src="img/HWRCcN3SbaCYf2r0nnE4_images">
                <h2>Get involved</h2>
                <p>The best feeling is when you know</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>